<h1>Metodo post</h1>
<form method="post">
    <label>Nombre</label>
    <input type="text" name="cajanombre"/>
    <br/>
    <label>Edad</label>
    <input type="text"/>
    <br/>
    <label>Email</label>
    <input type="text" name="cajaedad"/>
    <button>Enviar informacion</button>
</form>
<h1>Nombre: @ViewBag.Nombre</h1>
<h2>edad: @ViewBag.Edad</h2>